* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

.main-app {
  color: white;
  margin: auto;
  width: 400px;
  border: 2px solid #b6b8c3;
  box-shadow: 0px 1px 10px #b6b8c3;
  background-color: #f4f0f5;
}

h5 {
  background-color: #9e8cd9;
  padding: 10px;
  text-align: center;
}
.status {
  text-align: center;
  background-color: white;
  margin-top: -6px;
  box-shadow: 0px 5px 5px #b6b8c3;
}
.to-be-done {
  width: 150px;
}
.completed {
  width: 150px;
}
.number {
  color: #9e8cd9;
  font-size: 25px;
}

.genTaxt {
  color: #8d8d8d;
  font-size: 11px;
  display: block;
}

.add-task-box {
  margin: 20px 10px;
  background-color: white;
  height: 25px;
}
.plus-icon {
  color: #9e8cd9;
  background-color: white;
  border: none;
}
.add-task {
  border: none;
  margin-left: -5px;
}
.inbox,.outbox{
  height: auto;
  margin: 20px 10px;
}
.box-header {
  color: #8d8d8d;
  font-size: 15px;
}

.inbox > div,
.outbox > div {
  background-color: white;
  margin-top: 5px;
  color: #8d8d8d;
}

.todoicon {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: darkred;
  display: inline-block;
  margin-right: 15px;
}

.completeicon {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: green;
  display: inline-block;
  margin-right: 15px;
}

.btn-right {
  color: green;
}
.btn-complete {
  margin-top: -5px;
}
